:root {
  /* border-radius */
  --br-normal: 5px;
}

/* 粗字体 */
.font-bold {
  font-weight: bold;
}

body {
  margin: 32px auto;
  max-width: 980px;
  color: black;
  background: white;
}
/* 暗色模式 */
body.dark-theme {
  background: black;
  color: white;
}

/* 主题选择 */
.theme-select {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: right;
  user-select: none;
}

.theme-select-title {
  display: inline-block;
  margin-right: 12px;
}

/* 主题选择选项 */
.theme-select .theme-option {
  display: inline-block;
  margin: 0 6px;
  color: black;
  padding: 3px 6px;
  border-radius: var(--br-normal);
  border: 1px solid transparent;
  cursor: pointer;
}
/* 暗色模式 */
.dark-theme .theme-select .theme-option {
  color: white;
}

/* 悬浮展示将要选中 */
.theme-select .theme-option:hover {
  border: 1px solid gray;
}

/* 选中样式 */
.theme-select .theme-option-selected,
.theme-select .theme-option-selected:hover {
  border: 1px solid transparent;
  color: white;
  background-color: black;
  cursor: initial;
}
/* 暗色模式 */
.dark-theme .theme-select .theme-option-selected {
  color: black;
  background-color: white;
}

h1 {
  font-size: 24px;
  line-height: 36px;
  margin: 24px 0;
}

h2 {
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 18px 0;
}

p {
  font-size: 16px;
  line-height: 26px;
  margin: 16px 0;
  word-break: break-all;
}

section {
  margin-bottom: 32px;
}

code {
  font-family: Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
  display: inline-block;
  padding: 0 8px;
  border-radius: 3px;
  border: 1px solid black;
}
.dark-theme code {
  border: 1px solid white;
}

.code-block {
  overflow-x: scroll;
  font-family: Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
  border-radius: 3px;
  padding: 12px;
  border: 1px solid black;
}
.dark-theme .code-block {
  border: 1px solid white;
}
.code-block .git-commit {
  color: darkkhaki;
}
.code-block .git-head {
  color: darkturquoise;
}
.code-block .git-branch-1 {
  color: limegreen;
}
.code-block .git-branch-2 {
  color: firebrick;
}

.code-block > pre {
  line-height: 22px;
  font-size: 14px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  line-height: 32px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid CADETBLUE;
  color: CADETBLUE;
}

pre > code {
  background-color: initial;
  font-size: 0.8rem;
}

/* 博客文章 */
article {
  padding: 24px;
}

aside {
  background: #e0e0e0;
  border-radius: 0.5rem;
  padding: 1rem;
}

aside > ul {
  margin: 0;
  padding: 0;
}

aside li {
  line-height: 2;
}

article > p {
  text-indent: 2rem;
  text-align: right;
}

figure {
  text-align: center;
  margin: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.author,
.date {
  margin: 0;
  color: silver;
}

.circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.success,
.primary,
.warn {
  vertical-align: middle;
  margin-right: 10px;
}
.success {
  background-color: #7ed321;
}

.primary {
  background-color: #4a90e2;
}

.warn {
  background-color: #f5a623;
}

.footer {
  margin-top: 20px;
  background-color: GAINSBORO;
  padding: 1rem;
  border-radius: 0.5rem;
}

.footer .feed-qrcode {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 1rem;
}

.footer .weibo-link {
  margin: 0 6px;
}

.footer .weibo-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 4px;
}

.info {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.tag {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}
