:root {
  /* ===== 颜色 ===== */
  /* 基本色 */
  --primary: #f2d93b;
  --danger: #f07359;
  --success: #6fb748;
  --disabled: #cccccc;
  --normal: #ffffff;
  /* 字体色 */
  --tc1: #000000;
  --tc2: #ffffff;
  /* 背景色 */
  --bgc1: #ffffff;
  --bgc2: #000000;
  /* 边框色 */
  --bdc1: #000000;
  /* 圆角 */
  --bdr: 10px;
  /* 动画时间 快 */
  --tst-x-fast: 50ms;
  --tst-fast: 100ms;

  /* ===== icon ===== */
  --i-add-select: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.625 4.167v5.208h5.208v1.25h-5.208v5.208h-1.25v-5.208H4.167v-1.25h5.208V4.167h1.25z' fill='%23000'/%3E%3C/svg%3E");
}

/* ===== 字体 ===== */
.body1 {
  font-size: 16px;
  line-height: 24px;
}

.button1 {
  font-size: 16px;
  line-height: 24px;
}

/* ===== icon ===== */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--tc1);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
}

.icon[data-type="add-select"] {
  -webkit-mask-image: var(--i-add-select);
}

/* ===== 按钮 ===== */
.ax-button {
  height: 39px;
  color: var(--tc1);
  position: relative;
  user-select: none;
  margin-bottom: 8px;
}

.ax-button > div {
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.ax-button::before {
  right: 0;
  bottom: 0;
  content: "";
  display: block;
}

.ax-button-press > div {
  transform: translate(2px, 3px);
  transition: all var(--tst-x-fast);
}

.ax-button[data-model="circle"] {
  width: 38px;
}

.ax-button > div,
.ax-button::before {
  height: calc(100% - 3px);
  width: calc(100% - 2px);
  position: absolute;
  border: 1px solid var(--bdc1);
  border-radius: var(--bdr);
  background-color: var(--normal);
  box-sizing: border-box;
  transition: all var(--tst-x-fast);
}

.ax-button::before {
  box-shadow: inset 0 0 0 1px var(--bgc2);
}

.ax-button[data-model="circle"] > div,
.ax-button[data-model="circle"]::before {
  border-radius: 50%;
}

.ax-button[data-type="primary"] > div,
.ax-button[data-type="primary"]::before {
  background-color: var(--primary);
}

.ax-button[data-type="danger"] > div,
.ax-button[data-type="danger"]::before {
  background-color: var(--danger);
}

.ax-button[data-type="success"] > div,
.ax-button[data-type="success"]::before {
  background-color: var(--success);
}

.ax-button[data-type="disabled"] > div,
.ax-button[data-type="disabled"]::before {
  background-color: var(--disabled);
}

.ax-button[data-type="disabled"] > div::after,
.ax-button[data-type="disabled"] > div::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--bgc2);
  position: absolute;
  left: 0;
  top: 0;
}

.ax-button[data-type="disabled"] > div::after {
  clip-path: polygon(
    12px 0,
    calc(100% - 5px) 100%,
    calc(100% - 12px) 100%,
    5px 0
  );
}
.ax-button[data-type="disabled"] > div::before {
  clip-path: polygon(
    5px 100%,
    calc(100% - 12px) 0,
    calc(100% - 5px) 0,
    12px 100%
  );
}
.ax-button[data-model="circle"][data-type="disabled"] > div::after {
  height: 1px;
  top: 50%;
  transform: rotateZ(45deg);
  clip-path: none;
}
.ax-button[data-model="circle"][data-type="disabled"] > div::before {
  height: 1px;
  top: 50%;
  transform: rotateZ(-45deg);
  clip-path: none;
}
